# Dependencies
node_modules/
npm-debug.log*

# Git and IDE
.git/
.gitignore
.github/
.vscode/
.idea/

# Local Environment Variables & Secrets
.env
.env.*
!.env.example

# Build Artifacts
dist/
dist-ssr/

# Development & Scratch Folders
Building_start/
*.log
report.*.json
